

.tela{

    background-color: white !important;
    border-color: green !important;
    font-family: "Helvetica",Arial,"Noto Sans",sans-serif;
    font-size: 130%;
    height: 100% !important;
  
}

.texto{

    font-family: "Helvetica",Arial,"Noto Sans",sans-serif;
    font-size: 130%;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    text-align: left;

}

.linha{

    background: black;
}

.menu{
    
   
    background-color: black !important;

} 

.sig{

    color: green !important;

}


.botão{

    background-color: black !important;
    color: green !important;

}

.login{
    
    background-color: black !important;
    color: green !important;
   
}
.nome{

    
    color: green !important;

}


.legc{
    
    background-color: #4F4F4F;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif !important;
    color: white;
    font-weight: bold !important;
    background-size: 50%;
}



.produto{
    
    color: green;
    font-family: "Helvetica Neue",Arial,"Noto Sans",sans-serif !important;
    font-weight: bold !important;
}
.admin{
    
    background-color: black!important;
    color: green !important;
    width: 50% !important;
    height: 90px !important;
}

.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}